.navigation {

}

.nav-item {
  opacity: 0.5;
  margin-bottom: 44px;

  &.is-active, &:hover {
    opacity: 1;
  }
}

.nav-item__img {
  color: $white;
  display: inline-block;
  margin-right: 20px;
}

.nav-item__title {
  font-size: 14px;
  font-weight: 800;
  color: $white;
  opacity: 0.5;

  .nav-item.is-active &, .nav-item:hover & {
    opacity: 1;
  }
}