.sidebar {
  padding: 40px 32px;
  background: #4EC499;
  width: 250px;
  position: fixed;
  height: 100vh;
}

.sidebar__logo {
  width: 103px;
  height: 22px;
  margin-bottom: 40px;
  color: $white;
}

.col-right {
  margin-left: 250px;
}

.tabs-wrapper {
  margin-left: -24px;
  margin-right: -24px;
  padding: 0 0 15px 24px;
  border-bottom: 2px solid rgba(151,158,172,0.1);
}

.profile-form {
  margin: 0 auto;
  padding: 32px 32px 41px;
  width: 380px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  .mc-input {
    font-size: 14px;
    margin-bottom: 21px;
    padding: 10px 16px;

    &::placeholder {
      font-weight: 600;
      font-size: 14px;
      color: $cl-sec;
    }
  }

  .btn-md {
    font-weight: 800;
  }
}