.ttl-1 {
  @include txt-ttl-1;
}

.ttl-2 {
  @include txt-ttl-2;
}

.ttl-3 {
  @include txt-ttl-3;
}

.ttl-4 {
  @include txt-ttl-4;
}

.ttl-thin {
  @include txt-ttl-thin;
}

.txt-def {
  @include txt-def;
}

.txt-sm {
  @include txt-sm;
}

.editor-content {
  p {
    + p {
      margin-top: 24px;
    }
  }
}

.mc-list {
  @include list-reset;
  li {
    padding-top: 4px;
    position: relative;
    padding-left: 60px;
    &:before {
      content:  '⬤';
      color: $cl-acc-1;
      display: inline-flex;
      font-size: 36px;
      line-height: 1;
      position: absolute;
      left: 0;
      top: 0;
    }
    + li {
      margin-top: 20px;
      @media (min-width: 768px) {
        margin-top: 40px;
      }
    }
  }
}