.site-header {
  &--logo {
    display: inline-flex;
    max-width: 100%;
    width: 210px;
    @media (min-width: 768px) {
      width: 275px;
    }
  }
}

.privacy-page {
  .site-header {
    &--logo {
      @media (min-width: 768px) {
        width: 220px;
      }
    }
  }
}