.header {
  padding: 16px 24px 16px 40px;
  border-bottom: 1px solid #E3E3E3;
}

.header-input {
  width: 270px;

  &::placeholder {
    font-weight: 600;
    font-size: 12px;
    color: $cl-sec;
  }
}

.user {

}

.user__name {
  font-weight: 600;
  font-size: 12px;
  color: $cl-sec;
}

.user__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}