.app-header {
  padding: 22px 16px 16px;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-height;
  &--logo {
    display: inline-flex;
    color: $cl-acc-1;
    svg {
      width: 79px;
      height: 18px;
    }
  }
  &--actions {
    margin-left: auto;
    a {
      color: $cl-sec;
    }
  }
}