.success-badge {
  display: inline-block;
  color: $cl-light;
  padding: 12px 24px;
  background: rgba($cl-light, 0.1);
  border: 2px solid $cl-light;
  border-radius: $bord-rad-def;
}

.gusto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &-middle {
    flex: 1 1 auto;
    &--circle {
      padding-bottom: 100%;
      position: relative;
      color: $cl-acc-2;
      border: 2px dashed #267DFF;
      border-radius: 100%;
      margin-left: -16px;
      margin-right: -16px;
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &-icon {
    position: relative;
    z-index: 10;
    width: 49px;
    height: 49px;
    img {
      min-width: 100%;
      border-radius: 100%;
      border: 2px solid $cl-acc-2;
      height: auto;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.mc-avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 100%;
  img {
    min-width: 100%;
    height: auto;
    object-fit: contain;
  }
  &.mod-lg {
    width: 38px;
    height: 38px;
  }
  &.mod-xl {
    width: 82px;
    height: 82px;
  }
}