* {
	-webkit-font-smoothing: antialiased
}

html {
	font-size: 14px;
	scroll-behavior: smooth;
}

body {
	@include txt-def;
	position: relative;
	color: $cl-main;
	background-color: $cl-light;
	overflow-x: hidden;
	min-height: 100vh;
	max-width: 100%;
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: $cl-main;
	border-radius: 0.25rem;
}

::selection {
  color: $cl-light;
  background: $cl-main;
} 

[role="button"] {
	cursor: pointer;
}

a {
	@include trn-03;
	color: $cl-acc-1;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.svg-icon {
	width: 24px;
	height: 24px;
}

.cursor-pointer {
	cursor: pointer;
}

.flex-align-center {
	@include flex-align-center;
}

.flex-justify-center {
	@include flex-justify-center;
}

.list-reset {
	@include list-reset;
}

.bg-cover {
	@include bg-cover;
}

.bg-contain {
	@include bg-contain;
}

.app-main {
	padding-top: $header-height;
	padding-bottom: $footer-height;
	min-height: 100vh;
	&.mod-hero {
		padding-top: 0;
	}
}