.cl-light {
  color: $cl-light;
}
.cl-dark {
  color: $cl-dark;
}
.cl-main {
  color: $cl-main;  
}
.cl-sec {
  color: $cl-sec;
}
.cl-sec-muted {
  color: $cl-sec-muted;
}
.cl-acc-1 {
  color: $cl-acc-1;
}
.cl-acc-2 {
  color: $cl-acc-2;
}