@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Black.woff2') format('woff2'),
      url('../fonts/AvenirNext-Black.woff') format('woff'),
      url('../fonts/AvenirNext-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Bold.woff2') format('woff2'),
      url('../fonts/AvenirNext-Bold.woff') format('woff'),
      url('../fonts/AvenirNext-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('../fonts/AvenirNext-Regular.woff') format('woff'),
      url('../fonts/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}