@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-ExtraBold.woff2') format('woff2'),
      url('../fonts/AvenirNext-ExtraBold.woff') format('woff'),
      url('../fonts/AvenirNext-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Bold.woff2') format('woff2'),
      url('../fonts/AvenirNext-Bold.woff') format('woff'),
      url('../fonts/AvenirNext-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-SemiBold.woff2') format('woff2'),
      url('../fonts/AvenirNext-SemiBold.woff') format('woff'),
      url('../fonts/AvenirNext-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('../fonts/AvenirNext-Regular.woff') format('woff'),
      url('../fonts/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}