// Colors
$cl-light: #fff;
$cl-text: #8B949E;
$cl-dark: #000000;
$cl-main: #576372;
$cl-main-2: #79828C;
$cl-main-muted: #BDC2C9;
$cl-bg: #EFF5F9;

$cl-acc-1: #E27DB1;
$cl-acc-2: #7A68AD;

// Fonts
$font-title: 'Gotham', sans-serif;
$font-main: 'Gotham', sans-serif;

// Misc
$input-height-def: 46px;
$bord-rad-def: calc(#{$input-height-def} / 2);

// Mixins
@mixin base-font {
  font-family: $font-main;
  font-weight: 400;
  letter-spacing: -0.02em;
}

@mixin title-font {
  font-family: $font-title;
  font-weight: 500; 
  line-height: 1.2;
  letter-spacing: -0.02em;
}

@mixin txt-ttl-1 {
  @include title-font;
  font-size: 30px;
  @media (min-width: 768px) {
    font-size: 46px;
  }
}

@mixin txt-ttl-2 {
  @include title-font;
  font-size: 26px;
  @media (min-width: 768px) {
    font-size: 42px;
  }
}

@mixin txt-def {
  @include base-font;
  font-size: 16px;
  &.mod-l {
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

@mixin trn-03 {
  transition: all 0.3s ease;
}

@mixin bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin list-reset {
  padding: 0;
	margin: 0;
	list-style: none;
}

@mixin flex-align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin flex-justify-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin btn-reset {
  -webkit-appearance: none;
  text-decoration: none;
  user-select: none;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

@mixin btn-align {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

@mixin btn-corners {
  border-radius: calc(#{$input-height-def} / 2);
}

@mixin btn-def {
  padding: 5px 12px;
  min-height: $input-height-def;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@mixin btn-main {
  color: $cl-light;
  background: linear-gradient(270deg, $cl-acc-2 4.03%, $cl-acc-1 100%);
}

@mixin txt-fld {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border-radius: $bord-rad-def;
  border: 1px solid transparent;
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: $cl-main-muted;
  }
}

@mixin txt-fld-def {
  background-color: $cl-bg;
  color: $cl-main;
}

@mixin txt-fld-size-md {
  padding: 10px 20px;
  font-size: 16px;
}