// Colors
$cl-light: #fff;
$cl-dark: #000;
$cl-main: #1E2E4F;
$cl-sec: #44516F;
$cl-sec-muted: #979EAC;
$cl-bg: #F4F8FF;
$cl-fb: #3B5999;

$cl-acc-1: #00D489;
$cl-acc-2: #267DFF;

// Fonts
$font-title: 'Avenir Next', sans-serif;
$font-main: 'Avenir Next', sans-serif;

// Misc
$input-height-lg: 56px;
$input-height-md: 48px;
$input-height-sm: 32px;
$bord-rad-def: 8px;
$bord-rad-sm: 4px;
$header-height: 70px;
$footer-height: 42px;

// Mixins
@mixin base-font {
  font-family: $font-main;
  font-weight: normal;
}

@mixin txt-ttl-1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.375;
}

@mixin txt-ttl-2 {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.75;
}

@mixin txt-ttl-3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.375;
}

@mixin txt-ttl-4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333;
}

@mixin txt-ttl-thin {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3636;
}

@mixin txt-subttl {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3333;
}

@mixin txt-def {
  @include base-font;
  font-size: 14px;
  line-height: 1.86;
}

@mixin txt-sm {
  @include base-font;
  font-size: 12px;
  line-height: 1.3333;
}

@mixin trn-03 {
  transition: all 0.3s ease;
}

@mixin bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin list-reset {
  padding: 0;
	margin: 0;
	list-style: none;
}

@mixin flex-align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin flex-justify-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin btn-reset {
  -webkit-appearance: none;
  text-decoration: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

@mixin btn-align {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

@mixin btn-corners-def {
  border-radius: $bord-rad-def;
}

@mixin btn-corners-sm {
  border-radius: $bord-rad-sm;
}

@mixin btn-lg {
  padding: 12px 32px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
  min-height: $input-height-lg;
}

@mixin btn-md {
  padding: 8px 32px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
  min-height: $input-height-md;
}

@mixin btn-sm {
  padding: 10px 20px;
  font-size: 12px;
  line-height: 1.3333;
  font-weight: bold;
  min-height: $input-height-sm;
}

@mixin btn-1 {
  color: $cl-light;
  background-color: $cl-acc-1;
  border-color: $cl-acc-1;
  &.btn-outline {
    background-color: transparent;
    color: $cl-acc-1;
  }
}

@mixin btn-2 {
  color: $cl-light;
  background-color: $cl-acc-2;
  border-color: $cl-acc-2;
  &.btn-outline {
    background-color: transparent;
    color: $cl-acc-2;
  }
}

@mixin btn-3 {
  color: $cl-light;
  background-color: $cl-dark;
  border-color: $cl-dark;
  &.btn-outline {
    background-color: transparent;
    color: $cl-dark;
  }
}

@mixin btn-fb {
  color: $cl-light;
  background-color: $cl-fb;
  border-color: $cl-fb;
}

@mixin txt-fld {
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid transparent;
  &:focus {
    outline: none;
  }
}

@mixin txt-fld-def {
  background-color: rgba($cl-acc-2, 0.05);
  color: $cl-sec;
  &::-webkit-input-placeholder {
    color: $cl-sec-muted;
  }
}

@mixin txt-fld-size-md {
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 600;
  min-height: $input-height-md;
  border-radius: $bord-rad-def;
}