// Colors
$cl-light: #fff;
$cl-main: #1E2E4F;
$cl-sec: #44516F;
$cl-sec-muted: #979EAC;
$cl-bg: #F4F8FF;

$cl-acc-1: #00D489;
$cl-acc-2: #267DFF;

// Fonts
$font-title: 'Avenir Next', sans-serif;
$font-main: 'Avenir Next', sans-serif;

// Misc
$input-height-def: 58px;
$input-height-sm: 38px;
$bord-rad-def: calc(#{$input-height-def} / 2);
$bord-rad-sm: calc(#{$input-height-sm} / 2);
$header-height: 64px;
$footer-height: 42px;

// Mixins
@mixin base-font {
  font-family: $font-main;
  font-weight: normal;
}

@mixin txt-ttl-1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.29;
  @media (min-width: 768px) {
    font-size: 48px;
  }
}

@mixin txt-ttl-2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

@mixin txt-def {
  @include base-font;
  font-size: 16px;
  line-height: 1.62;
}

@mixin trn-03 {
  transition: all 0.3s ease;
}

@mixin bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin list-reset {
  padding: 0;
	margin: 0;
	list-style: none;
}

@mixin flex-align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin flex-justify-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin btn-reset {
  -webkit-appearance: none;
  text-decoration: none;
  user-select: none;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

@mixin btn-align {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

@mixin btn-corners-def {
  border-radius: calc(#{$input-height-def} / 2);
}

@mixin btn-corners-sm {
  border-radius: calc(#{$input-height-sm} / 2);
}

@mixin btn-def {
  padding: 18px 36px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  min-height: $input-height-def;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.08);
}

@mixin btn-sm {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  min-height: $input-height-sm;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.08);
}

@mixin btn-main {
  color: $cl-light;
  background-color: $cl-acc-1;
  &:active,
  &:focus,
  &:hover {
    opacity: 0.9;
  }
}

@mixin txt-fld {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border-radius: $bord-rad-def;
  border: 1px solid transparent;
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: $cl-sec-muted;
  }
}

@mixin txt-fld-def {
  background-color: rgba($cl-acc-2, 0.05);
  color: $cl-sec;
}

@mixin txt-fld-size-md {
  padding: 10px 20px;
  font-size: 16px;
}